services:
  app:
    image: laravel-app
    volumes:
      - .:/var/www/html
    ports:
      - "8080:80"
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: asdf000
      DB_CONNECTION: mysql    
      DB_DATABASE: laravel    
      DB_USERNAME: root  
  mysql:
    image: mysql:8.0
    hostname: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: asdf000
    volumes:
      - mysql_data:/var/lib/mysql
volumes:
  mysql_data:
